USE [master]
GO
/****** Object:  Database [DB3 Sklad]    Script Date: 2/27/2017 6:00:40 PM ******/
CREATE DATABASE [DB3 Sklad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB3 Sklad', FILENAME = N'C:\Users\vlado.CC\DB3 Sklad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB3 Sklad_log', FILENAME = N'C:\Users\vlado.CC\DB3 Sklad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB3 Sklad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB3 Sklad]
GO
USE [DB3 Sklad]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](500) NOT NULL,
	[Mol_id] [int] NOT NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Type] [int] NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Goods_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOL]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NOT NULL,
	[Last_name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_MOL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseMapping]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseMapping](
	[Purchase_id] [int] NOT NULL,
	[Goods_id] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Invoice_id] [int] NOT NULL,
	[WareHouse_receipt] [int] NOT NULL,
	[Payment_id] [int] NOT NULL,
 CONSTRAINT [PK__Purchase__3214EC07483F8964] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company_id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Contract_id] [int] NULL,
	[Type] [int] NOT NULL,
	[Reciept_id] [int] NOT NULL,
	[Invoice_id] [int] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Salesmapping]    Script Date: 2/27/2017 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salesmapping](
	[Sale_id] [int] NOT NULL,
	[Goods_id] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_MOL] FOREIGN KEY([Mol_id])
REFERENCES [dbo].[MOL] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_MOL]
GO
ALTER TABLE [dbo].[PurchaseMapping]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseMapping_Goods] FOREIGN KEY([Goods_id])
REFERENCES [dbo].[Goods] ([Id])
GO
ALTER TABLE [dbo].[PurchaseMapping] CHECK CONSTRAINT [FK_PurchaseMapping_Goods]
GO
ALTER TABLE [dbo].[PurchaseMapping]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseMapping_Purchases1] FOREIGN KEY([Purchase_id])
REFERENCES [dbo].[Purchases] ([Id])
GO
ALTER TABLE [dbo].[PurchaseMapping] CHECK CONSTRAINT [FK_PurchaseMapping_Purchases1]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Company1] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Company1]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Company] FOREIGN KEY([Company_id])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Company]
GO
ALTER TABLE [dbo].[Salesmapping]  WITH CHECK ADD  CONSTRAINT [FK_Salesmapping_Goods] FOREIGN KEY([Goods_id])
REFERENCES [dbo].[Goods] ([Id])
GO
ALTER TABLE [dbo].[Salesmapping] CHECK CONSTRAINT [FK_Salesmapping_Goods]
GO
ALTER TABLE [dbo].[Salesmapping]  WITH CHECK ADD  CONSTRAINT [FK_Salesmapping_Sales] FOREIGN KEY([Sale_id])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[Salesmapping] CHECK CONSTRAINT [FK_Salesmapping_Sales]
GO
USE [master]
GO
